USE [master]
GO
/****** Object:  Database [Beximco_Db]    Script Date: 2019-01-12 4:27:38 PM ******/
CREATE DATABASE [Beximco_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Beximco_Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Beximco_Db.mdf' , SIZE = 22528KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Beximco_Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Beximco_Db_log.ldf' , SIZE = 17408KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Beximco_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Beximco_Db]
GO
/****** Object:  Table [dbo].[CafeTimeSchedule]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CafeTimeSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[EndTime] [time](0) NOT NULL,
 CONSTRAINT [PK_CafeTimeSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DailyBazar]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyBazar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[ItemId] [int] NOT NULL,
 CONSTRAINT [PK_DailyBazar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[DivisionId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DepartmentCafeteriaTransaction]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DepartmentCafeteriaTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeptId] [int] NOT NULL,
	[FoodItemCostId] [int] NOT NULL,
	[ItemQuantity] [int] NOT NULL,
	[CheckTime] [varchar](8) NOT NULL,
	[CheckDate] [date] NOT NULL,
	[UnitRate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_DepartmentCafeteriaTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DepartmentSendOrder]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DepartmentSendOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[DptId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[TypeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[EmpId] [varchar](50) NOT NULL,
	[CustomMenu] [varchar](50) NULL,
 CONSTRAINT [PK_DepartmentSendOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Designation](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Designation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Division]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Division](
	[Id] [int] IDENTITY(10,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Division] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [varchar](50) NULL,
	[Name] [varchar](50) NOT NULL,
	[DesignationId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SectionId] [int] NULL,
	[DivisionId] [int] NOT NULL,
	[UserNumber] [varchar](50) NOT NULL,
	[EmployeePhotograph] [varchar](50) NOT NULL,
	[EmailId] [varchar](50) NULL,
	[JoinDate] [date] NULL,
	[Proximity] [varchar](50) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeCafeteriaTransaction]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeCafeteriaTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [varchar](50) NOT NULL,
	[FoodItemCostId] [int] NOT NULL,
	[ItemQuentity] [int] NOT NULL,
	[CheckTime] [varchar](8) NOT NULL,
	[CheckDate] [date] NOT NULL,
	[UnitRate] [decimal](18, 2) NOT NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_EmployeeCafeteriaTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeePassword]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeePassword](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeePassword] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[UserRoleId] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FoodItemCost]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FoodItemCost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[ItemDescription] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FoodItemCost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MealSchedule]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MealSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_MealSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Section]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Section](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SectionName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SendOrder]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SendOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[EmpId] [varchar](50) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[TypeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CustomMenu] [varchar](250) NULL,
 CONSTRAINT [PK_SendOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[viewFoodItemTimeSchedules]    Script Date: 2019-01-12 4:27:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[viewFoodItemTimeSchedules] AS
SELECT c.Id , f.Name , c.StartTime, c.EndTime
FROM CafeTimeSchedule c
INNER JOIN FoodItemCost f on f.Id =c.ItemId








GO
SET IDENTITY_INSERT [dbo].[CafeTimeSchedule] ON 

INSERT [dbo].[CafeTimeSchedule] ([Id], [ItemId], [StartTime], [EndTime]) VALUES (8, 6, CAST(0x00B09A0000000000 AS Time), CAST(0x0018F60000000000 AS Time))
INSERT [dbo].[CafeTimeSchedule] ([Id], [ItemId], [StartTime], [EndTime]) VALUES (9, 7, CAST(0x0051270100000000 AS Time), CAST(0x007F510100000000 AS Time))
INSERT [dbo].[CafeTimeSchedule] ([Id], [ItemId], [StartTime], [EndTime]) VALUES (10, 8, CAST(0x00685B0000000000 AS Time), CAST(0x00A8930000000000 AS Time))
SET IDENTITY_INSERT [dbo].[CafeTimeSchedule] OFF
SET IDENTITY_INSERT [dbo].[DailyBazar] ON 

INSERT [dbo].[DailyBazar] ([Id], [Date], [Amount], [ItemId]) VALUES (1, CAST(0x0E3F0B00 AS Date), CAST(11475.50 AS Decimal(18, 2)), 6)
INSERT [dbo].[DailyBazar] ([Id], [Date], [Amount], [ItemId]) VALUES (2, CAST(0xE33E0B00 AS Date), CAST(100.00 AS Decimal(18, 2)), 8)
INSERT [dbo].[DailyBazar] ([Id], [Date], [Amount], [ItemId]) VALUES (3, CAST(0xE93E0B00 AS Date), CAST(12032.00 AS Decimal(18, 2)), 6)
GO
SET IDENTITY_INSERT [dbo].[DailyBazar] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [DivisionId], [Name]) VALUES (1002, 10, N'Broadcast Operations')
INSERT [dbo].[Department] ([Id], [DivisionId], [Name]) VALUES (1003, 10, N'Broadcast Technology')
INSERT [dbo].[Department] ([Id], [DivisionId], [Name]) VALUES (1004, 10, N'Business Development and Marketing')
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[DepartmentCafeteriaTransaction] ON 

INSERT [dbo].[DepartmentCafeteriaTransaction] ([Id], [DeptId], [FoodItemCostId], [ItemQuantity], [CheckTime], [CheckDate], [UnitRate]) VALUES (2, 1100, 11, 1, N'15:05:12', CAST(0xE63E0B00 AS Date), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[DepartmentCafeteriaTransaction] ([Id], [DeptId], [FoodItemCostId], [ItemQuantity], [CheckTime], [CheckDate], [UnitRate]) VALUES (3, 1100, 6, 1, N'14:40:58', CAST(0x2E3F0B00 AS Date), CAST(66.67 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DepartmentCafeteriaTransaction] OFF
SET IDENTITY_INSERT [dbo].[DepartmentSendOrder] ON 

INSERT [dbo].[DepartmentSendOrder] ([Id], [Date], [DptId], [ItemId], [Status], [TypeId], [Quantity], [EmpId], [CustomMenu]) VALUES (6, CAST(0x2E3F0B00 AS Date), 1100, 6, N'Confirm', 2, 1, N'0165', NULL)
SET IDENTITY_INSERT [dbo].[DepartmentSendOrder] OFF
SET IDENTITY_INSERT [dbo].[Designation] ON 

INSERT [dbo].[Designation] ([Id], [Name]) VALUES (356, N'Test')
INSERT [dbo].[Designation] ([Id], [Name]) VALUES (1003, N'Assistant Manager')
INSERT [dbo].[Designation] ([Id], [Name]) VALUES (1004, N'Head of Support Services')
GO
SET IDENTITY_INSERT [dbo].[Designation] OFF
SET IDENTITY_INSERT [dbo].[Division] ON 

INSERT [dbo].[Division] ([Id], [Name]) VALUES (10, N'Independent Television')
INSERT [dbo].[Division] ([Id], [Name]) VALUES (11, N'BEXIMCO')
INSERT [dbo].[Division] ([Id], [Name]) VALUES (12, N'GMG Airlines')
SET IDENTITY_INSERT [dbo].[Division] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [EmpId], [Name], [DesignationId], [DepartmentId], [SectionId], [DivisionId], [UserNumber], [EmployeePhotograph], [EmailId], [JoinDate], [Proximity], [Status]) VALUES (744, N'00008', N'Younus Ali', 1055, 1012, 4, 10, N'111111', N'00008.Jpg', N'younus.ali@independent24.tv', CAST(0xE3320B00 AS Date), N'10422878', 1)
INSERT [dbo].[Employee] ([Id], [EmpId], [Name], [DesignationId], [DepartmentId], [SectionId], [DivisionId], [UserNumber], [EmployeePhotograph], [EmailId], [JoinDate], [Proximity], [Status]) VALUES (745, N'00020', N'Mir Mahboob Rishad Ashraf', 1158, 1002, 5, 10, N'111112', N'00020.Jpg', N'mahboob.rishad@independent24.tv', CAST(0x0D330B00 AS Date), N'05506975', 1)
INSERT [dbo].[Employee] ([Id], [EmpId], [Name], [DesignationId], [DepartmentId], [SectionId], [DivisionId], [UserNumber], [EmployeePhotograph], [EmailId], [JoinDate], [Proximity], [Status]) VALUES (746, N'00022', N'Tushar Suvro Das', 1169, 1002, 6, 10, N'111113', N'00022.Jpg', N'tushar.das@independent24.tv', CAST(0x0B330B00 AS Date), N'09125908', 1)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[EmployeeCafeteriaTransaction] ON 

INSERT [dbo].[EmployeeCafeteriaTransaction] ([Id], [EmpId], [FoodItemCostId], [ItemQuentity], [CheckTime], [CheckDate], [UnitRate], [Status]) VALUES (58072, N'00008', 6, 1, N'15:23:52', CAST(0x2E3F0B00 AS Date), CAST(66.67 AS Decimal(18, 2)), N'No')
INSERT [dbo].[EmployeeCafeteriaTransaction] ([Id], [EmpId], [FoodItemCostId], [ItemQuentity], [CheckTime], [CheckDate], [UnitRate], [Status]) VALUES (58074, N'00008', 6, 5, N'15:52:55', CAST(0x2E3F0B00 AS Date), CAST(50.00 AS Decimal(18, 2)), N'  yes')
SET IDENTITY_INSERT [dbo].[EmployeeCafeteriaTransaction] OFF
SET IDENTITY_INSERT [dbo].[EmployeePassword] ON 

INSERT [dbo].[EmployeePassword] ([Id], [EmployeeId], [Password]) VALUES (28, 744, N'123456')
INSERT [dbo].[EmployeePassword] ([Id], [EmployeeId], [Password]) VALUES (29, 745, N'123456')
INSERT [dbo].[EmployeePassword] ([Id], [EmployeeId], [Password]) VALUES (30, 746, N'123456')
GO
SET IDENTITY_INSERT [dbo].[EmployeePassword] OFF
SET IDENTITY_INSERT [dbo].[EmployeeRole] ON 

INSERT [dbo].[EmployeeRole] ([Id], [EmployeeId], [UserRoleId]) VALUES (1, 744, 2)
INSERT [dbo].[EmployeeRole] ([Id], [EmployeeId], [UserRoleId]) VALUES (3, 1342, 2)
INSERT [dbo].[EmployeeRole] ([Id], [EmployeeId], [UserRoleId]) VALUES (5, 1343, 2)
GO
SET IDENTITY_INSERT [dbo].[EmployeeRole] OFF
SET IDENTITY_INSERT [dbo].[FoodItemCost] ON 

INSERT [dbo].[FoodItemCost] ([Id], [Name], [Cost], [ItemDescription]) VALUES (6, N'Lunch', CAST(0.00 AS Decimal(18, 2)), N'Lunch')
INSERT [dbo].[FoodItemCost] ([Id], [Name], [Cost], [ItemDescription]) VALUES (7, N'Dinner', CAST(0.00 AS Decimal(18, 2)), N'Dinner')
INSERT [dbo].[FoodItemCost] ([Id], [Name], [Cost], [ItemDescription]) VALUES (8, N'Breakfast', CAST(0.00 AS Decimal(18, 2)), N'Breakfast')
SET IDENTITY_INSERT [dbo].[FoodItemCost] OFF
SET IDENTITY_INSERT [dbo].[MealSchedule] ON 

INSERT [dbo].[MealSchedule] ([Id], [EmpId], [Date], [ItemId], [Status], [Quantity]) VALUES (1198, N'00008', CAST(0x2E3F0B00 AS Date), 6, N'Confirm', 1)
INSERT [dbo].[MealSchedule] ([Id], [EmpId], [Date], [ItemId], [Status], [Quantity]) VALUES (1199, N'00008', CAST(0x2F3F0B00 AS Date), 6, N'Pending', 1)
INSERT [dbo].[MealSchedule] ([Id], [EmpId], [Date], [ItemId], [Status], [Quantity]) VALUES (1200, N'00008', CAST(0x313F0B00 AS Date), 6, N'Cancel', 1)
SET IDENTITY_INSERT [dbo].[MealSchedule] OFF
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([Id], [DepartmentId], [SectionName]) VALUES (4, 1012, N'Support Services')
INSERT [dbo].[Section] ([Id], [DepartmentId], [SectionName]) VALUES (5, 1002, N'Videography')
INSERT [dbo].[Section] ([Id], [DepartmentId], [SectionName]) VALUES (6, 1002, N'Virtual reality')
SET IDENTITY_INSERT [dbo].[Section] OFF
INSERT [dbo].[UserRole] ([Id], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[UserRole] ([Id], [RoleName]) VALUES (2, N'User')
INSERT [dbo].[UserRole] ([Id], [RoleName]) VALUES (3, N'CafeAssistant')
ALTER TABLE [dbo].[CafeTimeSchedule]  WITH CHECK ADD  CONSTRAINT [FK_CafeTimeSchedule_FoodItemCost] FOREIGN KEY([ItemId])
REFERENCES [dbo].[FoodItemCost] ([Id])
GO
ALTER TABLE [dbo].[CafeTimeSchedule] CHECK CONSTRAINT [FK_CafeTimeSchedule_FoodItemCost]
GO
ALTER TABLE [dbo].[DailyBazar]  WITH CHECK ADD  CONSTRAINT [FK_DailyBazar_FoodItemCost] FOREIGN KEY([ItemId])
REFERENCES [dbo].[FoodItemCost] ([Id])
GO
ALTER TABLE [dbo].[DailyBazar] CHECK CONSTRAINT [FK_DailyBazar_FoodItemCost]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Division] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Division] ([Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Division]
GO
ALTER TABLE [dbo].[DepartmentCafeteriaTransaction]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentCafeteriaTransaction_Department] FOREIGN KEY([DeptId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[DepartmentCafeteriaTransaction] CHECK CONSTRAINT [FK_DepartmentCafeteriaTransaction_Department]
GO
ALTER TABLE [dbo].[DepartmentCafeteriaTransaction]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentCafeteriaTransaction_FoodItemCost] FOREIGN KEY([FoodItemCostId])
REFERENCES [dbo].[FoodItemCost] ([Id])
GO
ALTER TABLE [dbo].[DepartmentCafeteriaTransaction] CHECK CONSTRAINT [FK_DepartmentCafeteriaTransaction_FoodItemCost]
GO
ALTER TABLE [dbo].[DepartmentSendOrder]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentSendOrder_Department] FOREIGN KEY([DptId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[DepartmentSendOrder] CHECK CONSTRAINT [FK_DepartmentSendOrder_Department]
GO
ALTER TABLE [dbo].[DepartmentSendOrder]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentSendOrder_FoodItemCost] FOREIGN KEY([ItemId])
REFERENCES [dbo].[FoodItemCost] ([Id])
GO
ALTER TABLE [dbo].[DepartmentSendOrder] CHECK CONSTRAINT [FK_DepartmentSendOrder_FoodItemCost]
GO
ALTER TABLE [dbo].[EmployeeCafeteriaTransaction]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeCafeteriaTransaction_FoodItemCost] FOREIGN KEY([FoodItemCostId])
REFERENCES [dbo].[FoodItemCost] ([Id])
GO
ALTER TABLE [dbo].[EmployeeCafeteriaTransaction] CHECK CONSTRAINT [FK_EmployeeCafeteriaTransaction_FoodItemCost]
GO
ALTER TABLE [dbo].[EmployeeRole]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeRole_UserRole] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[EmployeeRole] CHECK CONSTRAINT [FK_EmployeeRole_UserRole]
GO
ALTER TABLE [dbo].[MealSchedule]  WITH CHECK ADD  CONSTRAINT [FK_MealSchedule_FoodItemCost] FOREIGN KEY([ItemId])
REFERENCES [dbo].[FoodItemCost] ([Id])
GO
ALTER TABLE [dbo].[MealSchedule] CHECK CONSTRAINT [FK_MealSchedule_FoodItemCost]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [FK_Section_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [FK_Section_Department]
GO
USE [master]
GO
